@using BudgetManagement.Models.ViewModels
@model GeneralAmountViewModel

<div class="d-flex text-center row mb-3" id="general-balances">
    <div class="d-flex flex-column text-center col-md-4">
        <strong>Deposits</strong>
        <span class="active">@Model.Income</span>
    </div>
    <div class="d-flex flex-column text-center col-md-4">
        <strong>Withdrawal</strong>
        <span class="pasive">@Model.Expense</span>
    </div>
    <div class="d-flex flex-column text-center col-md-4">
        <strong>Total</strong>
        <span>@Model.Total</span>
    </div>
</div>